# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#node modules
*node_modules

#Hyperledger Fabric and Keys Store
/bin
/infraestructure/config
/infraestructure/crypto-config
/infraestructure/hfc-key-store