# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#node modules
*node_modules

#Hyperledger Fabric and Keys Store
/bin
/infrastructure/config
/infrastructure/crypto-config
/infrastructure/hfc-key-store
/infraestructure/fabric-samples/

/chaincode/java/build
/chaincode/java/.gradle
/chaincode/java/bin
/chaincode/java/.project
/chaincode/java/.classpath
/chaincode/java/.settings

\.vscode/